:root {
    --active-input-border: linear-gradient(hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    --input-errors: hsl(0, 100%, 66%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --defValue: rgb(228, 228, 228);

    font-size: 10px;
}

* {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-weight: 500;
    height: 100vh;
    background: url(images/bg-main-mobile.png) no-repeat;
    background-size: 100%;
    background-size: 100% 24rem;
    overflow-x: hidden;
}

main {
    max-width: 37.5rem;
    padding: 3.2rem 1.7rem;
    margin: 0 auto;
}

img {
    display: block;
}

.card {
    position: relative;
    height: 25rem;
}

.card__back {
    position: relative;
    max-width: 28rem;
    margin: 0 0 0 auto;
}

.card__back img {
    width: 100%;
}

.cvc {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding-right: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--defValue);
    font-size: 0.95rem;
}

.i_icon {
    height: 20px;
}

.card__front {
    position: absolute;
    top: 10rem;
    max-width: 28rem;
}

.card__front img {
    width: 100%;
}

.card__details {
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.card__details img{
    width: 5.5rem;
    margin-bottom: 2.5rem;
}

.card__number {
    height: 3rem;
    letter-spacing: 0.12rem;
    color: var(--defValue);
    margin-bottom: 2rem;
}

.month__year {
    display: flex;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
}

.card__name{
    color: var(--defValue);
}

.month__year span {
    color: var(--defValue);
}

.card__month{
    color: var(--defValue);
}

.card__year{
    color: var(--defValue);
}

form {
    margin-top: 3rem;
}

.form__group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.form__group div {
    display: flex;
}

.form__group div img {
    margin-left: 5px;
    height: 15px;
    cursor: help;
}

.form__group label {
    font-size: 1.2rem;
    letter-spacing: 0.165rem;
    text-transform: uppercase;
    color: var(--very-dark-violet);
    margin-bottom: 1rem;
}

.form__group input {
    color: var(--very-dark-violet);
    width: 100%;
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    font-weight: 500;
    outline: none;
    border: 2px solid var(--light-grayish-violet);
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    transition: all 0.2s;
}

.form__group input:focus {
    /* gradient on border */
    background: linear-gradient(white, white) padding-box, linear-gradient(darkblue, darkorchid) border-box;
    /* border-radius: 0.8rem;
    not neccessary, cause border-radius is already defined on the top in .form__group input*/
    border: 2px solid transparent;

    /* first gradient is "fake" one, (2nd value of background is background-clip) in this case padding-box
    it means that it cover whole element, without border, second gradient is out gradient,
    border-box to cover all the element, next the border-radius, unless it's defined earlier
    and next border property is to unhide out second gradient (cause its under first gradient)
    we have to set transparent color, to as I said unhide it */
}

.exp__date__cvc {
    display: flex;
    gap: 1.7rem;
}

.date {
    display: flex;
    gap: 0.8rem;
}

.date input{
    width: 7.7rem;
}

.btn {
    margin-top: 3rem;
    padding: 1rem;
    width: 100%;
    border: none;
    background-color: var(--very-dark-violet);
    color: white;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: hsl(278, 68%, 11%, 80%);
}

.d__none__animation {
    animation: slide 1s ease-in-out forwards;
    animation-direction: reverse;
}

.d__none {
    display: none;
}

.d__block {
    display: block;
    animation: slide 1s ease-in-out forwards;
}

.complete {
    padding: 0 1rem;
    margin-top: 5rem;
    text-align: center;
}

.complete img {
    margin: 0 auto;
    margin-bottom: 3rem;
}

.complete h1 {
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    color: var(--very-dark-violet);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.complete p {
    color: var(--dark-grayish-violet);
    margin-bottom: 2rem;
}

.error {
    color: var(--input-errors);
    font-size: 1.15rem;
    margin-top: 1rem;
}

.error input {
    border: 2px solid var(--input-errors);
    color: var(--input-errors);
}

.success input{
    border: 2px solid #1eda69;
    color: #1eda69;
}

.info a {
    text-decoration: none;
    color: #1eda69;
    transition: all 0.3s;
}

.info a:hover {
    color:hsl(0, 100%, 66%);
}

@keyframes slide {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (min-width: 1440px) {
    body {
        background: url(images/bg-main-desktop.png) no-repeat;
        background-size: 33.5% 100%;
        overflow-x: hidden;
    }

    main {
        max-width: 120rem;
        padding: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        gap: 10rem;
    }

    .card {
        height: 50rem;
        gap: 5rem;
        display: flex;
        flex-direction: column-reverse;
    }

    .card__back, .card__front {
        max-width: max-content;
    }

    .card__front {
        position: relative;
        top: 0;
    }

    .card__back {
        margin-left: 10rem;
    }

    .card__back .cvc {
        font-size: 1.4rem;
        letter-spacing: 0.14rem;
        padding-right: 5.8rem;
    }

    .card__details {
        padding: 3rem;
    }

    .card__details img {
        /* max-content czyli taki jaki jest ten svg */
        width: max-content;
        margin-bottom: 5.5rem;
    }

    .card__number {
        height: 4rem;
        font-size: 2.5rem;
        letter-spacing: 0.25rem;
        margin-bottom: 3rem;
    }

    .info {
        font-size: 1.3rem;
        letter-spacing: 0.14rem;
    }

    form {
        padding: 2rem;
        margin-left: 0;
    }

    .form__group {
        padding-bottom: 1.5rem;
    }

    .form__group input {
        padding: 1.2rem 2rem;
    }

    .btn {
        padding: 1.5rem;
    }

    .complete {
        width: 40rem;
    }
    
    .complete img {
        margin-bottom: 4rem;
    }

    .complete h1 {
        letter-spacing: 0.4rem;
    }
}